#colored-p{
    color: green;
}
.container{
    margin-bottom: 100px;
}
a{
    color: black;
}
.btn{
    border-radius: 20px;
    padding: 5px 20px;
}

.logo{
    background-color: #F0FFF0;
    padding: 30px;
    border-radius: 5px;
}
#shed{
    background-color: white;
    box-shadow: 10px 10px 30px whitesmoke;
}
.heading{
    color: white;
    text-align: center;
    border: 1px solid green;
    background-color: green;
    border-radius: 0 20px 0 20px;
    width: 250px;
    margin: 0 auto;
    padding: 5px 10px;
    margin-bottom: 20px;
    
}
.course{
    box-shadow: 5px 10px 30px gainsboro;
    padding: 10px;
   
}
.last{
    background-color: black;
    color: white;
    padding: 30px 60px;
}
.copy{
    text-align: center;
    padding: 50px 0;
    color: red;
}
#sign-in{
    width: 40%;
    margin: 0 auto;
    padding: 50px 0;
}